/* body */

.body {
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    padding: 8px 200px;
}

.left {
    font-size: 20px;
    font-weight: bold;
}

.right {
    display: flex;
    font-size: 16px;
    gap: 12px;
}

a {
    text-decoration: none;
    color: white;
}

/* content1 */

.content1 {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 80px 200px;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.intro {
    font-size: 20px;
}

.bt1,
.bt2 {
    background-color: #3882f6;
    color: white;
    width: 80px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid white;
}

/* content2 */

.content2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    padding-bottom: 100px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* content3 */

.content3 {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 120px 320px;
}

.quote {
    font-size: 32px;
    text-align: center;
}

.person {
    font-size: 28px;
    text-align: right;
}

/* content4 */

.content4 {
    background-color: white;
    display: flex;
    padding: 100px 200px;
    justify-content: center;
}

.inner {
    background-color: #3882f6;
    width: 1200px;
    height: 200px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.call {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
}

.appeal {
    font-size: 20px;
}

.bt2 {
    border: 2px solid white;
    font-size: 20px;
    width: 120px;
}

/* footer */
.footer {
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
    color: white;
}

